<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Vanilla Note</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="app" class="wrapper pos-rel">

		<!-- MenuView -->
		<div id="js-menu_view" class="menu menu__list pos-fix" data-mode="list">
			<button id="js-reloadPage" class="btn btn--reload">i<i class="icon icon--relaod"></i></button>
			<button id="js-backList" class="btn btn--return">h<i class="icon icon--return"></i></button>
			<h1 id="menu_view__title" class="menu--title">
				<span id="menu_view__title">すべてのノート</span>
				(<span id="menu_view__count">0</span>)
			</h1>
			<button id="js-addNew" class="btn btn--add">j<i class="icon icon--add"></i></button>
			<button id="js-deleteNote" class="btn btn--delete">d<i class="icon icon--delete"></i></button>
		</div>

		<!-- ListView -->
		<ul id="js-list_view" class="list_view pos-abs">
			<!-- NoteView : <li> -->
			<script type='text/template' id="tmp-note">
				<p class="list__item__title"><%- title %></p>
				<time class="list__item__date tar"><%- created %></time>
			</script>
			<!-- </li> -->
		</ul>

		<!-- DetailView -->
		<div id="js-detail_view" class="detail_view pos-abs is-hidden">
		<script type='text/template' id="tmp-detail">
			<p class="detail__date">作成日<%- created %></p>
			<input id="js-detail_title" class="detail__title" value="<%- title %>" type="text" placeholder="タイトル（50文字以内）" maxlength="50">
			<textarea id="js-detail_body" class="detail__body" placeholder="本文（200文字以内）" maxlength="200"><%- body %></textarea>
		</script>
		</div>

		<!-- LoadingView -->
		<div id="js-loading_view">
			<p id="loading_view__icon " class="animate-spin"></p>
			<p id="loading_view__msg" class="tac"></p>
		</div>

	</div>
<!-- JS library -->
<script type='text/javascript' src='//code.jquery.com/jquery-1.10.2.min.js'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone.js'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage.js'></script>
<!-- JS -->
<script type="text/javascript" src="asset/js/namespace.js" ></script>
<script type="text/javascript" src="asset/js/util.js" ></script>
<script type='text/javascript' src='asset/js/model.js'></script>
<script type='text/javascript' src='asset/js/collection.js'></script>
<script type='text/javascript' src='asset/js/view.js'></script>
<script type='text/javascript' src='asset/js/router.js'></script>
<script type='text/javascript' src='asset/js/app.js'></script>
<script>
$(function(){
    'use strict';

    new App.Main();

});
</script>
</body>
</html>